<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="config.xsd">
    <application>
        <reopenBrowser>testCase</reopenBrowser>
        <backendLogin>{{ .Env.MAGE_ADMIN_USER }}</backendLogin>
        <backendPassword>{{ .Env.MAGE_ADMIN_PWD }}</backendPassword>
        <appBackendUrl>{{ .Env.MAGE_BASE_URL }}/{{ .Env.MAGE_BACKEND_FRONTNAME }}/</appBackendUrl>
        <backendLoginUrl>admin/auth/login</backendLoginUrl>
    </application>
    <install>
        <host>{{ .Env.MAGE_DB_HOST }}</host>
        <user>root</user>
        <password>{{ .Env.MYSQL_ROOT_PASSWORD }}</password>
        <dbName>{{ .Env.MAGE_DB_NAME }}_test</dbName>
        <baseUrl>{{ .Env.MAGE_BASE_URL }}/</baseUrl>
        <backendName>{{ .Env.MAGE_BACKEND_FRONTNAME }}</backendName>
    </install>
    <handler>
        <webapi priority="0">
            <token>integration_token</token>
        </webapi>
        <curl priority="1" />
        <ui priority="2" />
    </handler>
    <server>
      <item name="selenium"
            type="default"
            browser="Firefox"
            browserName="firefox"
            host="{{ .Env.SELENIUM_HOST }}"
            port="{{ .Env.SELENIUM_PORT }}"
            seleniumServerRequestsTimeout="90"
            sessionStrategy="shared">
          <desiredCapabilities>
              <platform>ANY</platform>
          </desiredCapabilities>
      </item>
    </server>
</config>
